<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Kcn\AdminGrid\Model\ResourceModel\AdminGrid\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">kcn_admin_grid</argument>
            <argument name="resourceModel" xsi:type="string">Kcn\AdminGrid\Model\ResourceModel\AdminGrid</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="admingrid_item_list_data_source" xsi:type="string">Kcn\AdminGrid\Model\ResourceModel\AdminGrid\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
